*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* 1 Từ ngoài vào trong 
   2 Từ trên xuống dưới
   3 Từ tổng quan đến chi tiết
   4 Vị trí
   5 Kích thước
   6 Màu sắc
   7 Kiểu dáng */

.clear{
    clear: both;
}

.text-white{
    color: white !important;
}

.mt-8{
    margin-top: 8px !important;
}


.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

#wrapper{

}

#header{
    height: 46px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

#nav{
    height: 46px;
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li{
   display: inline-block;
}


#nav > li > a{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}


#nav li a{  
    line-height: 46px;
    text-decoration: unset;
    padding: 0px 24px;
    display: inline-block;
}

#nav .supnav{
 list-style-type: none;
}

#nav ul li {
   width: 100%;
}

#nav .supnav{
    display: none;  
    min-width: 160px;
      position: absolute;
      background-color: white;
      box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#nav .supnav a{
    color: black;
    padding: 0px 12px;
    line-height: 38px;
}

#nav .nav-arrow{
    font-size: 14px;
}

#nav > li:hover > a,
#nav .supnav > li:hover > a{
    color: black;
    background-color: rgb(201, 199, 199);
}

#nav li:hover .supnav{
    display: block;
}

#header .search-btn{
    float: right;  
}

#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46px;
    padding: 0px 21px;
}

#header .search-btn:hover{
    background-color: #f44336 ;
    cursor: pointer;
}



#slider{
    position: relative;
    margin-top: -8px;
    padding-top: 50%;
    background : url('/assets/img/favor/wallhaven-lmxmxy.png') top center / cover no-repeat;  
}
#slider .text-content{
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    color: white;

}

#slider .text-deco{
    color: rgb(231, 115, 5);
    padding-top: 8px ;
}


#content{
   
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 80px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
}

#content .sup-section{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}


#content .member-list{
    padding: 32px 0px 98px 0px;
    display: flex;
}

#content .member-item{
    float: left;
    width: 33.333333%;
    text-align: center;
}

#content .member-name{
    margin: 16px 0px;
    color: #20836a;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}


.tour{
    background-color: black;
    padding: 0px 85.5px;
}

.ticket-list{
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    list-style-type: none;
}
    

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
    margin: 16px;
    padding: 3px 5px; 
}

.ticket-list .quantity{
    float: right;
    color: white;
    background-color: black;
    margin-right: 16px;
    border-radius: 50%;
    padding: 2px 8px;
    text-align: center;

}

.ticket-list .sold-out{
    background-color:#f5291b !important;
    color: white;
}

.place-tour{
    padding: 0px 0px 64px 0px;
}

.place{
    float: left;
    width: 33.33333%;
    padding: 32px 8px;
}

.place-img{
    width: 100%;
    display: block;

}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: white;
    font-size: 15px;
    padding: 16px;
   
}

.place-heading{
    font-size: 15px;
    font-weight: 550;

}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.place-buy-btn{
    padding: 8px 16px;
    color: white;
    background-color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.place-buy-btn:hover{
    background-color: #ccc;
    color: black;
}

 /* thong bao */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: rgb(255 255 255);
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .4s;
}
   

.modal-header{
    background-color: #009688;
    height: 130px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  
}

.ti-bag{
    margin: 16px;
}

.modal-close {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    padding: 12px;
}

.modal-close:hover{
    color: black;
    background-color: #ddd;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    color: black;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

#buy-ticket {
    background-color: #009688;
    border: none;
    color: white;
    padding: 16px;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
}

#buy-ticket:hover{
    color: black;
    opacity: 0.7;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal.open{
    display: flex;
}
/* end thong bao */

.contact-body{
    padding-top: 46px;
}

.contact-content{
    margin-top: 48px;
    margin-bottom: 80px;
}


.contact-right{
    font-size: 15px;
}

.contact-right .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-loca{
     font-size: 18px;
     padding-top: 8px;
     color: rgb(38, 65, 48);
}    

.loca-icon{
    padding-right: 8px;
}

.submit-btn{
    margin-top: 16px;
    float: right;
    display: block;
    color: white;
    background-color: black;
    border: none;
    padding: 12px 16px;
}

.submit-btn:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.map img{
    width: 100%;
}


#footer{
    padding: 40px 16px 64px;
    text-align: center;
}

.the-end{
    padding-bottom: 24px;
    color: #58130d;
    font-size: 22px;
}

.social{
    text-decoration: none;
    font-size: 24px;
}

.social a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.social p{
    color: rgb(77,77,77);
    font-size: 15px;
    cursor: default;
    margin-top: 8px;
    font-style: oblique;
}

.social a:hover{
    opacity: 0.6;
}

.copyright{

}


@keyframes modalFadeIn{
    from{
        transform: translateY(-140px);
    }
    to{
        transform: translateY(0px) ; 
    }
}
/* phone */
.more-btn{
    display: none;
}
.openMenu{
    height: auto ;
}
/* phone */
